/* GLOBAL */
:root{
    --main-color : #0065FC;
    --light-color : #DEEBFF;
    --back-color : #F2F2F2;
    --border-color: #D9D9D9;
    --soft-shadow-color: rgba(0, 0, 0, 0.05);
    --hard-shadow-color: rgba(0, 0, 0, 0.2);
}

* {box-sizing : border-box}


html {font-size : 62.5%}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.8rem; 
}

a{
    color: #FF6060;
    text-decoration: none;
}
/* End GLOBAL */

header{
    display: flex;
    justify-content: space-between;
}

header a img{
    width: 60%;
}

header nav{
    display: flex;
}

header nav link{
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

header nav link:hover{
    text-decoration-line: underline;
}

.bg-banniere{
    /* filter: brightness(50%); */
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/bg-img.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.bg-banniere p{
    color : #fff;
    font-size: 4rem;
}

.thumb{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 5%, rgba(0,212,255,0) 100%), #FF6060; 
    border-radius: 1rem;
    margin: 5px 5px 20px 5px;
    cursor: pointer;
    width: 240px;
    min-height: 240px;
}

.thumb:hover{
    transform: scale(1.01);
}

.thumb a{
    padding: 0;
    position: relative;
}

.thumb-img{
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.thumb-text{
    padding: 0;
    color: #FFF;
}

.std-link{
    text-decoration-line: underline;
}

#error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-title{
    font-weight: 700;
    font-size: 20rem;
    color: #FF6060;
    margin : 3rem;
}

.error-subtitle{
    font-weight: 500;
    font-size: 3rem;
    color: #FF6060;
}
