/* GLOBAL */
:root{
    --main-color : #0065FC;
    --light-color : #DEEBFF;
    --back-color : #F2F2F2;
    --border-color: #D9D9D9;
    --soft-shadow-color: rgba(0, 0, 0, 0.05);
    --hard-shadow-color: rgba(0, 0, 0, 0.2);
}

* {box-sizing : border-box}


html {font-size : 62.5%}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.8rem;
    margin : auto 5rem auto 5rem;
}

a{
    color: #FF6060;
    text-decoration: none;
}
/* End GLOBAL */

header{
    display: flex;
    justify-content: space-between;
    margin : 2rem 0 2rem 0;
}

header a img{
    width: 60%;
}

header nav{
    display: flex;
}

header nav a{
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

header nav a:hover{
    text-decoration-line: underline;
}

.bg-about{
    /* filter: brightness(50%); */
    width: 100%;
    min-height: 20rem;
    border-radius: 2rem;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/bg-about.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.bg-banniere{
    /* filter: brightness(50%); */
    width: 100%;
    min-height: 20rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/bg-img.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.bg-banniere p{
    color : #fff;
    font-size: 4rem;
}

.card{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 5%, rgba(0,212,255,0) 100%), #FF6060; 
    border-radius: 1rem;
    margin: 5px 5px 20px 5px;
    cursor: pointer;
    width: 240px;
    min-height: 240px;
}

.card:hover{
    transform: scale(1.01);
}

.card a{
    padding: 0;
    position: relative;
}

.card-img{
    object-fit: cover;
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-text{
    padding: 0;
    color: #FFF;
}

.std-link{
    text-decoration-line: underline;
    text-align: center;
}

#error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-title{
    font-weight: 700;
    font-size: 20rem;
    color: #FF6060;
    margin : 3rem;
}

.error-subtitle{
    font-weight: 500;
    font-size: 3rem;
    color: #FF6060;
    text-align: center;
}

.dd-container{
    /* background-color: #FF6060; */
    border-radius: 1rem;
    margin: 2rem auto;
    width: 80%;
}

.dd-preview{
    background-color: #FF6060;
    border-radius: 1rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dd-preview h2{
    color: #fff;
    margin: 1rem 1rem;
}

.dd-preview img{
    margin: 0 2rem;
}

.dd-hidden{
    background-color: #F7F7F7;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    display: none;
    margin: 0;
}

.dd-text{
    color: #FF6060;
    padding : 1rem;
    margin: 0;
}

.dd-container:hover>.dd-hidden{
    display: block;
}




footer{
    width: 100%;
    background-color: #000;
    color : #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    margin: 1rem auto 1rem auto;
    filter: brightness(9999%);
    width: 15rem;
}

footer p{
    text-align: center;
}


@media screen and (max-width: 992px) {
    .error-title{
        font-size: 15rem;
    }
}