/* GLOBAL */
:root{
    --main-color : #FF6060;
    --back-color : #F6F6F6;
    --soft-shadow-color: rgba(0, 0, 0, 0.05);
    --hard-shadow-color: rgba(0, 0, 0, 0.2);
}

* {box-sizing : border-box}


html {
    font-size : 62.5%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.8rem;
    margin : 0;
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

main{
    margin : 0 5rem auto 5rem;
}

a{
    color: var(--main-color);
    text-decoration: none;
}
/* End GLOBAL */

/* -----HEADER----- */

header{
    display: flex;
    justify-content: space-between;
    margin : 2rem 5rem;
}

header a img{
    width: 80%;
}

header nav{
    display: flex;
}

header nav a{
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

header nav a:hover{
    text-decoration-line: underline;
}

/* -----END HEADER----- */

/* -----BANNERS----- */
.bg-about{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/bg-about.png');
}

.bg-home{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/bg-img.png');
}

.bg{
    width: 100%;
    min-height: 20rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-repeat:no-repeat;
    background-size: cover;
    color : #fff;
    font-size: 4rem;
}

/* -----END BANNERS----- */

/* -----HOME----- */
#housing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2.5rem;
    column-gap: 2.5rem;


    background-color: var(--back-color);
    border-radius: 2.5rem;
    padding: 2.5rem;
    margin: 2rem 0;
}

.card{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 5%, rgba(0,212,255,0) 100%), var(--main-color); 
    border-radius: 1rem;
    margin: 5px 5px 20px 5px;
    
    width: 340px;
    min-width: 240px;
    min-height: 240px;
    cursor: pointer;
    position: relative;
}

.card:hover{
    box-shadow: 0 8px 16px 0 var(--hard-shadow-color);
    transform: scale(1.02);
}

.card-img{
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 1rem;
    object-fit: cover;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
}

.card-text{
    position: absolute;
    bottom: 0;
    left: 0;

    color: #FFF;
    text-shadow: 0px 0px 20px #000;
    
    padding : 0 1.5rem 1.5rem 1.5rem;
    width: auto;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

/* -----END HOME----- */

.std-link{
    text-decoration-line: underline;
    text-align: center;
}

#error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-title{
    font-weight: 700;
    font-size: 20rem;
    color: var(--main-color);
    margin : 3rem;
}

.error-subtitle{
    font-weight: 500;
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
}

/* -----ABOUT----- */
.dd-container{
    border-radius: 1rem;
    margin: 2rem auto;
    width: 80%;
}

.dd-preview{
    background-color: var(--main-color);
    border-radius: 1rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dd-preview h2{
    color: #fff;
    margin: 1rem 1rem;
}

.dd-preview img{
    margin: 0 2rem;
}

.dd-hidden{
    background-color: var(--back-color);
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    display: none;
    margin: 0;
}

.dd-text{
    color: var(--main-color);
    padding : 1rem;
    margin: 0;
    white-space: pre-line;
}

.dd-container:hover>.dd-hidden{
    display: block;
}
/* -----END ABOUT----- */

/* -----CAROUSEL----- */

.carousel{
    position: relative;
    height: 50rem;
}

.image-slide{
    border-radius: 2.5rem;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

[class*=slide-arrow]{
    position: absolute;
    top: 22.5rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}

[class*=slide-arrow] img {
    width: 100%;
    height: 100%;
}

.slide-arrow-left{
    left: 0;
    transform: rotate(90deg);
}

.slide-arrow-right{
    right: 0;
    transform: rotate(-90deg);
}

/* -----END CAROUSEL----- */

/* -----HOUSING INFO----- */

#housing-info{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(3, 1fr);
}

#housing-info h2{
    grid-row: 2;
}

#housing-info .tags{
    grid-row: 3;
}

#housing-info .host-info{
    grid-column: 2;
    grid-row: 1 / 3;

    background-color: #FF6060;
}

#housing-info .rating{
    grid-column: 2;
    grid-row: 3;

    background-color: #a7ff60;
}


/* -----END HOUSING INFO----- */

/* -----FOOTER----- */
footer{
    align-self: flex-end;
    width: 100%;
    background-color: #000;
    color : #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    margin: 1rem auto 1rem auto;
    filter: brightness(9999%);
    width: 15rem;
}

footer p{
    text-align: center;
}
/* -----END FOOTER----- */

@media screen and (max-width: 992px) {
    .error-title{
        font-size: 15rem;
    }
}